In [33]:
import pandas as pd
import json

import pprint

pd.set_option('display.width', 1000)

In [34]:
data = None
with open("inputs/smsCorpus_en_2015.03.09_all.json") as f:
    data = json.load(f)

In [37]:
messages = data['smsCorpus']['message']
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(messages[0])

def parse_messages(messages):
    id = [m['@id'] for m in messages]
    text = [m['text']['$'] for m in messages]
    
    return pd.DataFrame({
        'id': id,
        'text': text
    })

messages = parse_messages(messages)
messages.head(5)

{   '@id': 10120,
    'collectionMethod': {   '@collector': 'howyijue',
                            '@method': 'unknown',
                            '@time': '2003/4'},
    'destination': {'@country': 'unknown', 'destNumber': {'$': 'unknown'}},
    'messageProfile': {   '@language': 'en',
                          '@time': 'unknown',
                          '@type': 'unknown'},
    'source': {   'phoneModel': {   '@manufactuer': 'unknown',
                                    '@smartphone': 'unknown'},
                  'srcNumber': {'$': 51},
                  'userProfile': {   'age': {'$': 'unknown'},
                                     'city': {'$': 'unknown'},
                                     'country': {'$': 'SG'},
                                     'experience': {'$': 'unknown'},
                                     'frequency': {'$': 'unknown'},
                                     'gender': {'$': 'unknown'},
                                     'inputMethod': {'$': 'unknown'},
                                     'nativeSpeaker': {'$': 'unknown'},
                                     'userID': {'$': 51}}},
    'text': {'$': 'Bugis oso near wat...'}}

      id                                               text
0  10120                              Bugis oso near wat...
1  10121  Go until jurong point, crazy.. Available only ...
2  10122     I dunno until when... Lets go learn pilates...
3  10123  Den only weekdays got special price... Haiz......
4  10124                             Meet after lunch la...